/*
* @Author: lenovo
* @Date:   2018-04-16 10:17:46
* @Last Modified by:   lenovo
* @Last Modified time: 2018-04-17 10:34:32
*/

/* 通用头部导航 */
.header .logo{
	position: absolute;
	left: 60px;
	top: 34px;
	display: block;
	font-size: 36px;
	font-weight: bold;
	color: #c60023;
}
.header .search-con{
	padding:40px 0 30px 250px;
}
.header .search-con .search-input{
	width: 550px;
	height: 40px;
	line-height: 40px;
	border:2px solid #c60023;
	padding-left: 10px;
	font-size: 15px;
	outline: none;
}
.header .search-con .search-btn{
	width: 80px;
	position: absolute;
	height: 44px;
}